body{
  max-width: 100vw;
}

.app  {
  position: relative;
  max-width: 100vw;
  font-size: 0.8rem;
  letter-spacing: 0.025rem;
}

.page--width  {
  padding: 0 1rem;
}

button:active{
  transform: translateY(5px);
}

/* Tablet css */
@media only screen and (min-width: 500px) {
  .page--width  {
  padding: 0 2rem;
  }
}

/* Desktop css */
@media only screen and (min-width: 960px) {
   .page--width  {
    padding: 0 2.5rem;
  }
}