
/* Base/Mobile css */
.banner__announcement {
  padding: 0.75rem 0;
  background-color: rgb(0, 0, 0);
  border-bottom: 0.1rem solid rgb(200, 200, 200);
}

.banner__announcement__content  {
  margin: 0 auto;
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  text-align: center;
  width: max-content;
  max-width: 90%; 
}

.banner__help {
  display: flex;
  justify-content: flex-end;
  padding: 2rem 0;
  background-color: rgb(220, 220, 220);
  border-bottom: 0.1rem solid rgb(200, 200, 200);
}

.banner__help__link  {
  color: rgb(40, 40, 40)
}

.banner__help__link:hover  {
  color: rgb(80, 80, 80)
}

.header {
  background-color: rgb(255, 255, 255);
  border-bottom: 0.1rem solid rgb(200, 200, 200);

}

.header__logo img {
  width: 10rem;
}

.header__links img  {
  width: 25px;
}


/* Tablet css */
@media only screen and (min-width: 450px) {
  .banner__help, .brand__items {
    font-size: 0.8rem;
  }

  .banner__help__links  {
    right: 0;
    gap: 1.5rem;
    width: max-content;
  }

 .header__logo img {
    width: 15rem;
  }

}



/* Desktop css */
@media only screen and (min-width: 960px) {
 
}