/* Base/Mobile css */
.section__brand {
  background: scroll url(../images/brand-image-mobile.jpg) center/cover no-repeat;
  padding: 1.5rem 0;
}

.brand__container {
  margin: 1rem 0 3rem;
}

.brand__heading {
  padding-bottom: 0.5rem;
  font-size: 1.5rem;
  font-weight: 500;
  text-transform: uppercase;
}

.brand__item__action  {
  font-size: 1.2rem;
}

.brand__items {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  gap: 0.25rem;
  text-transform: capitalize;
  font-size: 0.8rem;
  max-width: 70%;
}


/* reviews css */
.slider {
  max-width: 95%;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  padding: 8rem 0;
  display: flex;
  align-items: center;
}

.slide {
  position: absolute;
  left: 0;
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 1s;
}

.slider__btn {
  position: absolute;
  z-index: 2;
  border: none;
  color: rgb(40, 40, 40);
  padding: 1rem;
}

.slider__btn img{
  width: 1.5rem;
}

.slider__btn--left {
  left: 2%;
  transform: translateX(0.2rem);
}

.slider__btn--right {
  right: 2%;
  transform: translateX(-0.2rem);
}

.review {
  width: 70%;
  padding: 1rem 0;
  text-align: center;
}


.review__body {
  font-size: 1rem; 
  margin-bottom: 0.5rem;
}

.review__body::before, .review__body::after {
  content: '"';
}

.review__footer {
  display: flex;
  justify-content: center;
  column-gap: 0.5rem;
}



/* Tablet css */
@media only screen and (min-width: 500px) {
  .section__brand {
    background-image: url(../images/brand-image-tablet.jpg);
    padding: 2.5rem 0;
  }

  .brand__container {
    margin: 2.5rem 0 8rem;
  }

  .brand__heading {
    font-size: 1.8rem;
  }

  .brand__item__action  {
    font-size: 1.5rem;
  }

  .brand__items {
    font-size: 0.9rem;
  }

  .slider {
    max-width: 90%;
    padding: 6rem 0;
  }

  .slider__btn--left {
    left: 6%;
  }

  .slider__btn--right {
    right: 6%;
  }

}










/* Desktop css */
@media only screen and (min-width: 960px) {

  .section__brand {
    background-image: url(../images/brand-image-desktop.jpg);
  }

}