/* Base/Mobile css */
.page--width  {
  padding: 0 1rem;
}

.sticky {
  position: sticky;
  top: 0;
}

.section__brand {
  background-color: black;
  /* background: fixed url(../images/brand-image-mobile.png) center/cover no-repeat; */
}

.brand__heading {
  font-size: 1.5rem;
}

.brand__item__action  {
  font-size: 1.2rem;
}

.brand__items {
  font-size: 0.8rem;
  max-width: 70%;
}

.product__list  {
  display: grid;
  grid-template-columns: auto;
  column-gap: 1.5rem;
  row-gap: 2.5rem;
}

.product {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 0.5rem 1rem;
  text-transform: capitalize;
  font-size: 0.8rem;
}

.product__image {
  width: 70%;
  margin: 0 auto;
  /* height: 30vh ; */
}

.product__name  {
  font-size: 1rem;
  margin-bottom: 0.4rem;
}

.product__info  {
  display: flex;
  align-items: center;
  margin-bottom: 0.4rem;
}

.product__stock__icon {
  width: 0.3rem ;
  height: 0.3rem ;
  padding: 0.2rem;
  margin-right: 0.3rem;
  border: 0px solid;
  border-radius: 50%;
}

.product--instock {
  background-color: green;
}

/* .product--soldout {
  background-color: red;
} */

.product__options {
  display: flex;
  margin-bottom: 0.4rem;
}

.product__actions {
  display: flex;
  gap: 0.8rem;

}

.btn__buy {
  padding: 0.5rem 1.5rem;
  background-color: rgb(0, 0, 0);
  color: white;
  border: 0px solid;
  border-radius: 0.5rem;
}

.btn__buy:hover{
  background-color: rgb(33, 33, 33);
}





/* Tablet css */
@media only screen and (min-width: 450px) {
  .page--width  {
  padding: 0 2rem;
  }

  /* .section__brand {
    background-image: url(../images/brand-image-tablet.png);
  } */

  .brand__heading {
    font-size: 1.8rem;
  }

  .brand__item__action  {
    font-size: 1.5rem;
  }

  .brand__items {
    font-size: 0.9rem;
  }

  .product__list  {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .product__image {
    width: 100%;
    /* height: 30vh ; */
  }
}










/* Desktop css */
@media only screen and (min-width: 960px) {
   .page--width  {
    padding: 0 2.5rem;
  }

  /* .section__brand {
    background-image: url(../images/brand-image-desktop.png);
  } */

  .product__list  {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

}